# Auto detect text files and perform LF normalization
* text=auto

# C# files
*.cs text diff=csharp

# Solution files
*.sln text eol=crlf
*.csproj text eol=crlf
*.props text eol=crlf

# JSON files
*.json text

# Config files
*.config text

